body{
    font-family: Verdana;
}
header,footer,article,section{
background-color:white;
border-color: grey ;
border: width 1px;
border-style:solid;
/*border:gray 1px solid;*/
margin: 5px;
padding: 8px;
}
.test1{
    background-color: #444;
    color: white;
}
#sec{
    background-color: #ddd;
}
)